#root {
  height: 100%;
}

.App {
  width: 800px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.sidebar {
  width: 200px;
  height: 100%;
}

.content {
  width: 600px;
  height: 100%;
  overflow-x: auto;
  overflow-y: none;
}
