#root {
  height: 100%;
}

.App {
  width: 800px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.sidebar {
  width: 200px;
  height: calc(100% - 100px);
  margin: auto 0;
}

.content {
  width: 600px;
  height: calc(100% - 100px);
  margin: auto 0;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #00000030;
  border-radius: 10px;
}
