#root {
  height: 100%;
}

.App {
  width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.sidebar {
  width: 200px;
  height: calc(100% - 100px);
  margin: auto 0;
  position: fixed;
}

.content {
  position: relative;
  left: 200px;
  width: 600px;
  margin: auto 0;
  overflow: hidden;
}

@media (max-width: 900px) {
  p.blog {
    display: block !important;
  }
  body,
  html {
    overflow-y: auto;
  }
  .App {
    width: 100%;
    display: block;
    margin-top: 30px;
  }
  .sidebar {
    height: 350px;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  .sidebar .nav {
    display: none;
  }
  .sidebar .social {
    width: auto;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
  }
  .sidebar .social i {
    margin: 0 5px;
  }
  .content {
    left: 0;
    width: 100%;
    padding: 20px 0 !important;
    height: auto;
    margin: 0 auto;
    font-size: 1.2rem !important;
    line-height: 1.9rem !important;
  }
  .schoolname {
    font-size: 1.2rem !important;
  }
  .schooldesc {
    font-size: 0.9rem !important;
    margin-bottom: 5px !important;
  }
  .section-header {
    font-size: 1.8rem !important;
  }
  a {
    border-bottom-width: 2px !important;
  }
}
