@import url("https://rsms.me/inter/inter-ui.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter UI var alt", sans-serif;
  }
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  transition: color ease 0.2s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
